/**

 blue 1 : #110e1c
 blue 2 : #17132b

 white 1: #eee
 white 2: #aaa

**/

body {
    background: #110e1c;
    color: #eee;
    font-family: 'IBM Plex Mono', monospace;
}

p {
    font-family: 'Ubuntu Mono', monospace;
}

#nav {
    padding: 1em;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    background: #110e1c;
    border-bottom: 1px solid #1870be;
}

#main {
    padding: 1em;
}

#home {
    margin: 42vh auto;
    text-align: center;
}

.boxes {
    border: 1px solid #1870be;
    display: flex;
    width: 100px;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
}

.box {
    background-color: black;
    height: 50px;
    width: 50px;
}

/* sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #17132b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #aaa;
    display: block;
    transition: 0.3s;
}

.sidebar li {
    text-decoration: none;
    display: block;
}

.sidebar a:hover {
    color: #eee;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    color: #eee;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

/* top nav bar */
.topnavbar ul {
    list-style: none;
    display: inline-flex;
    margin: 0 auto;
    padding: 0;
}

.topnavbar ul li a {
    text-decoration: none;
    text-decoration: none;
    color: #eee;
    display: block;
    transition: 0.3s;
}

.topnavbar ul li a:hover {
    color: #1870be;
}

.topnavbar ul li.active {
    text-decoration: underline;
    text-decoration-color: #1870be;
}

.topnavbar ul li:not(:first-child) {
    padding-left: 1em;
}

/* sites */
#sites {
    max-width: 1000px;
    margin: 0 auto;
}

#sites div.site {
    display: grid;
    grid-template-areas:
        'header header header'
        'link link logo'
        'about about about';
    gap: 10px;
    padding: 1em;
    border: 1px solid #1870be;
    border-radius: 4px;
    margin-bottom: 1em;
    align-items: center;
}

#sites div.site h3 {
    font-size: xx-large;
    grid-area: header;
    margin-top: 0;
}

#sites div.site a {
    grid-area: link;
    color: #eee;
    width: fit-content;
}

#sites div.site a:hover {
    color: #1870be;
}

#sites div.site img {
    max-width: 100px;
    grid-area: logo;
    margin: 0 auto;
    padding: 2em;
}

#sites div.site p {
    grid-area: about;
}

/**

    Media queries

**/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .topnavbar {
        display: none;
    }

    .sidebar {
        display: block;
    }

    .openbtn {
        display: block;
    }

    h1 {
        margin-top: 2em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .topnavbar {
        display: none;
    }

    .sidebar {
        display: block;
    }

    .openbtn {
        display: block;
    }

    h1 {
        margin-top: 2em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .topnavbar {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .openbtn {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .topnavbar {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .openbtn {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .topnavbar {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .openbtn {
        display: none;
    }
}